<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Log in</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<link rel="stylesheet" href="/custom.css">

</head>

<body id="loginPage">
	<!-- <div th:replace="fragments/navbar :: navbar"></div> -->
	<div class="container">
		<div class="row">
			<div id="glypcons" class="col-md-6 ">
				<h3>
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					Follow your interests.
				</h3>
				<h3>
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					Hear what people are talking about.
				</h3>
				<h3>
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					Join the conversation.
				</h3>
			</div>
			<div >
				<div id="leftElements" class="col-md-6 ml-4" >

					<div id="loginForm" class="row">
						<form th:action="@{/login}" method="post">
							<br />
							<div class="col-md-4">
								<label>User Name</label> <input type="text" id="username"
									name="username" th:placeholder="Username" class="form-control" />
								<br />
							</div>
							<div class="col-md-4">
								<label>Password</label> <input type="password"
									th:placeholder="Password" id="password" name="password"
									class="form-control" /> <br />
							</div>
							<div align="center" th:if="${param.error}">
								<h4 style="color: red">Login unsuccessful.</h4>
							</div>
							<div class="col-md-4">
								<label> </label>
								<button id="login3" class="btn btn-md btn-success btn-block"
									name="Submit" value="Login" type="Submit">Log in</button>
							</div>
						</form>
					</div>

					<div id="loginText">
						<div>
							<h3>See whats happening in the world right now</h3>
							<br>
							<h5>Join Twitter today.</h5>
						</div>
						<div class="col -md-6 ">
							<a id="login1" class="btn btn-block btn-primary" href="../signup">SignUp</a>
							<a id="login2" class="btn btn-block  btn-default" href="../index">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/custom.js"></script>
</body>
</html>
